.nav-item:hover {
  background-color: grey;
}

body{
  padding-top:80px !important;
}

.img-fluid{
  height:350px;
  filter: drop-shadow(8px 8px 10px #37474F);
}
 
*{
   font-family: 'Times', 'Helvetica'
}

.figure-caption{
    font-size:32px;
    padding:30px;
}

#signUp{
  padding-top:30px;
}

.footer{
  background-color:#263238;
  width:100%;
  padding:10px;
  flex-shrink: 0;
}

.border-class{
  border:thin #D3D3D3 solid;
  margin:20px;
  padding:20px;
}