<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
<title>PoetHub</title>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/mystylesheet.css}"
	href="../static/mystylesheet.css" />
</head>
<body>
	<div th:fragment="header">
		<div class="container-fluid">
			<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
				<a class="navbar-brand text-white" th:href = "@{/}">PoetHub</a> 
				<a	class="nav-item nav-link text-white ml-auto" th:href= "@{/login}">Login</a>
			</nav>
		</div>
	</div>
</body>
</html>