<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header">header</div>
</head>

<body>
	<div class="container col-xs-12 col-sm-8 col-md-8 mx-auto">
		<form class="border-class" th:action="@{/newPoem}" th:object="${poemModel}"
			method="POST">
			<div class="form-group">
				<label for="username">Title</label> <input type="text"
					th:field="*{title}" placeholder="Title" class="form-control"
					required="true">
			</div>
			<div class="form-group">
				<label for="poem">Poem</label>
				<textarea rows="5" th:field="*{body}" placeholder="Enter poem"
					class="form-control" required="true"></textarea>
			</div>
			<input type="hidden" th:field="*{userModel}" /> <input type="hidden"
				th:field="*{poemId}" />
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>

<div th:replace="fragments/footer">footer</div>

</html>